* {
    margin: 0;
    padding: 0;
}

header {
    font-family: "Borel", cursive;
    color: purple;
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(165, 137, 226, 0.4822303921568627) 100%);
    padding: 1%;
}


#nome {
    margin-left: 34%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 3px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: rgb(130, 64, 146);
}


#imagem {
    margin-left: 28%;
    margin-top: 2%;
}


#informacoesReceita {
    padding-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;

}


#info {
    display: flex;
    flex-direction: row;
    width: 13%;
    margin-right: 20px;
    margin-top: 3%;
    color: rgb(0, 0, 0);

}

#info li {
    list-style: none;
    margin-top: 2%;
}

#info img {
    padding-right: 10px;
}

#ingredientes {
    display: inline-block;
    width: 370px;
    margin-right: 15px;
    margin-left: 5%;
    margin-top: 2%;
    padding: 3px;
    line-height: 53px;
}


#topico {
    margin-left: 25px;
    margin-top: 5%;
    font-size: 30px;
    color: rgb(130, 64, 146)
    
}

#preparo {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 6%;
    line-height: 50px;
}


h3 {
    font-size: 25px;
    margin-left: 25px;
    color: rgb(130, 64, 146)
    
}

h2, h3{
    font-family: 'Edu SA Beginner', cursive;
}


#resumo {
    margin: 2%;
    list-style: none;
    margin-left: 5%;
}

body {
    background: white;
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
}

