/*
margin corresponde ao espaçamento externo da caixa em que o elemento está até os 
cantos da página

padding corresponde ao espaçamento interno do elemento em relação á sua própria caixa

background corresponde ao fundo, no qual é possível colocar uma cor sólida única
ou em gradiente

box-sizing: content-box não é uma boa prática, pois
ao aumentarmos uma imagem, por exemplo, ou qualquer outro 
elemento, o que ocorre é que a CAIXA DE CONTEÚDO (em que
o elemento está) aumenta e não ele em si, causando possíveis
distorções. O ideal é utilizar box-sizing: border-box

Utilizar o site: https://cssgradient.io/
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#menu a {
    color: rgb(245, 245, 245);
    /* Aplicar  uma cor */
    font-family: 'Karla', sans-serif;
    /* Aplicar uma fonte */
    font-size: 16px;
    /* Aumentar o tamanho da fonte */
    text-decoration: none;
    /* Tirar o sublinhado*/
    flex-direction: row;
    /* Tirar o sublinhado do link */
    margin: 10px;
    /* Atribuir uma margin a cada item */
    text-transform: uppercase;

}

/* Ao passar ao mouse */
#menu a:hover {
    color: #c285ee;

}

h1,
h2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Karla', sans-serif;
    line-height: 170%;
    /* Define a altura da linha em relação á próxima */

}


header {
    background: linear-gradient(90deg, rgba(112, 20, 145, 1) 7%, rgba(69, 29, 119, 1) 43%, #1a0238 70%);
    padding-bottom: 20px;
    text-transform: uppercase;


}

header h1 {
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 1px;


}

body {
    background: rgb(0, 0, 0);
    color: rgb(233, 233, 233);

}

.apresentacao {
    display: flex;


}

.right {
    flex: 5;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.left {
    flex: 5;
    text-align: center;
}


.btn {
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    padding: 6px;
    border-radius: 5px;
}

.btnContact {
    margin-top: 20px;
    background: #f8c1ff;
    border: 2px #f8c1ff solid;
}

.btnContact:hover {

    background: #a564ad85;
    color: white;
}

.containerServicos {
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    padding-top: 18px;

}

.itemServico1,
.itemServico3,
.itemServico5,
.itemServico7 {
    border: 1.5px solid #4c19ac;
    border-radius: 5px;
    margin: 15px;
    padding: 25px 25px;
    text-align: center;
    width: 20%;
    box-shadow: 4px 2px 5px 5px rgba(46, 2, 117, 0.534);

}

.itemServico2,
.itemServico4,
.itemServico6,
.itemServico8 {
    border: 1.5px solid #520fcf;
    border-radius: 5px;
    margin: 15px;
    padding: 25px 25px;
    text-align: center;
    width: 20%;
    box-shadow: 4px 2px 5px 5px rgba(75, 4, 206, 0.295);

}

.containerServicos h2 {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}

.containerServicos img {
    width: 60px;
}

#servicos h3 {
    letter-spacing: 1px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 21px;

}

.itemServico1:hover,
.itemServico3:hover,
.itemServico5:hover,
.itemServico7:hover {
    border: 1px solid #4c19ac;
    cursor: pointer;
    transition: ease 1.2;
    transform: scale(1.1);
    box-shadow: 0px 0px 0px 100vw rgba(41, 2, 114, 0.281);
    transition: ease 1s;
    transform: scale(1.1);
}

.itemServico2:hover,
.itemServico4:hover,
.itemServico6:hover,
.itemServico8:hover {
    border: 1px solid #520fcf;
    cursor: pointer;
    box-shadow: 0px 0px 0px 100vw rgba(41, 2, 114, 0.281);
    transition: ease 1.5s;
    transform: scale(1.1);
}

html {
    scroll-behavior: smooth;
}

h3 {
    text-align: center;
    font-family: 'Karla', sans-serif;
    padding-top: 90px;
    font-size: 17px;

}

.containerSobreMim {
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 10px;
}

.left h2 {
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 1.8px;
    font-size: 22px;
    text-align: left;
}

.left p {
    text-align: left;
    font-family: 'Karla', sans-serif;

}

.containerSobreMim .left {
    margin-right: 190px;
    margin-left: 120px;
    flex: 7;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    line-height: 30px;
}


.containerSobreMim .right {
    flex: 3;
    margin-right: 40px;
}



#sobremim h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #1f053f;
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}


.socialMedia {
    display: flex;
    align-items: center;
}

.socialMedia img {
    width: 50px;
    padding-left: 15px;
}


#contato {
    padding-top: 60px;
    font-family: 'Karla', sans-serif;
    padding-bottom: 45px;
}

.containerContato {
    font-size: 22px;
}

form {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    max-width: 90%;
    padding-left: 50px;
}

input,
textarea {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 2px #f8c1ff solid;
}

.displayContato {
    display: flex;

}

form h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mensagem {
    margin-left: 60px;
}

textarea {
    resize: none;
    width: 350px;
    height: 100px;
}

.mensagem input {
    width: 170px;
    cursor: pointer;
    background: #f8c1ff;
    border: 2px #f8c1ff solid;
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
}

.mensagem input:hover {
    background: #a564ad85;
    color: white;
}

.mapa {
    margin-left: 250px;
}

iframe {
    border-radius: 5px;
    margin-top: -30px;
}

footer {
    background: linear-gradient(90deg, rgba(112, 20, 145, 1) 7%, rgba(69, 29, 119, 1) 43%, #1a0238 70%);
    color: white;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.menu a {
    color: rgb(245, 245, 245);
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    text-decoration: none;
    flex-direction: row;
    margin: 15px;
    text-transform: uppercase;
}

.menu a:hover {
    color: #c285ee;
}

.copyright {
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-size: 15px;
}

.containerContato h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 22px;
}

.navColor {
    background: linear-gradient(90deg, rgba(112, 20, 145, 1) 7%, rgba(69, 29, 119, 1) 43%, #1a0238 70%);
    justify-content: center;

}

.container-fluid {
    background: linear-gradient(90deg, rgba(112, 20, 145, 1) 7%, rgba(69, 29, 119, 1) 43%, #1a0238 70%);
    margin-top: -8px;
    margin-bottom: -8px;
}

.navbar-toggler {
    border: 1px solid transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.titleCertHab {
    font-family: 'Julius Sans One', sans-serif;
    color: #763ce2;
    font-size: 22px;
    text-align: center;
    padding: 30px;
    padding-top: 50px;
}

.titleCerti {
    font-family: 'Julius Sans One', sans-serif;
    color: #763ce2;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px;
    margin-left: 24px;
    /*Verificar!*/
}

.textCertificacoes {
    text-align: left;
    flex: 5;
    padding-left: 200px;
    color: white;
}

.habilidades {
    flex: 5;
    padding-right: 100px;
}

.habIco {
    display: flex;
    justify-content: center;
}

.titleHab {
    text-align: left;
    margin-left: 268px;
    padding-bottom: 10px;
    font-size: 17px;
    font-family: 'Julius Sans One', sans-serif;
    color: #763ce2;
    font-weight: bold;
}

.containerCertificacoes {
    display: flex;
}

@media screen and (max-width: 480px) {
    .apresentacao {
        flex-direction: column;
        text-align: center;
    }

    .left img {
        margin-bottom: 14px;
    }

    .right {
        text-align: center;
    }

    .containerSobreMim {
        flex-direction: column;
    }

    .containerSobreMim .left {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .containerSobreMim .right {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .containerServicos {
        flex-direction: column;
    }

    .containerServicos h2 {
        font-size: 16px;
    }

    .itemServico1,
    .itemServico2,
    .itemServico3,
    .itemServico4,
    .itemServico5,
    .itemServico6,
    .itemServico7,
    .itemServico8 {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    #servicos h3 {
        font-size: 18px;
    }


    .containerCertificacoes {
        flex-direction: column;
        align-items: center;

    }

    .textCertificacoes {
        padding-left: 0px;
        width: 85%;
    }

    .titleCerti {
        text-align: center;
        margin-left: 0px;
        margin-top: -40px;
    }


    .habilidades {
        padding-right: 0px;
        justify-content: center;

    }

    .habIco div {
        width: 85%;
        margin: 10px
    }


    .habilidades img {
        width: 100%;
        height: auto;
    }

    .titleHab {
        margin-left: 0px;
        text-align: center;
    }



    .displayContato {
        flex-direction: column;

    }

    form {
        max-width: 100%;
    }

    .mapa {
        margin-left: 0px;
        margin-top: 50px;
        width: 80%;
    }

    textarea,
    input {
        width: 100%
    }

    .dados {
        width: 80%;
    }

    .mensagem {
        width: 80%;
        margin-left: 0px;
    }

    .mapa iframe {
        width: 100%;
        height: auto;
    }


}

@media (min-width: 481px) and (max-width: 768px) {
    .apresentacao {
        flex-direction: column;
        text-align: center;
    }

    .left img {
        margin-bottom: 14px;
    }

    .right {
        text-align: center;
    }

    .containerSobreMim {
        flex-direction: column;
    }

    .containerSobreMim .left {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .containerSobreMim .right {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .containerServicos {
        flex-direction: column;
    }

    .containerServicos h2 {
        font-size: 16px;
    }

    .itemServico1,
    .itemServico2,
    .itemServico3,
    .itemServico4,
    .itemServico5,
    .itemServico6,
    .itemServico7,
    .itemServico8 {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    #servicos h3 {
        font-size: 18px;
    }



    .containerCertificacoes {
        flex-direction: column;
        align-items: center;

    }

    .textCertificacoes {
        padding-left: 0px;
        width: 85%;
    }

    .titleCerti {
        text-align: center;
        margin-left: 0px;
        margin-top: -40px;
    }


    .habilidades {
        padding-right: 0px;
        justify-content: center;

    }

    .habIco div {
        width: 85%;
        margin: 10px
    }


    .habilidades img {
        width: 100%;
        height: auto;
    }

    .titleHab {
        margin-left: 0px;
        text-align: center;
    }



    .displayContato {
        flex-direction: column;

    }

    form {
        max-width: 100%;
    }

    .mapa {
        margin-left: 0px;
        margin-top: 50px;
        width: 80%;
    }

    textarea,
    input {
        width: 100%
    }

    .dados {
        width: 80%;
    }

    .mensagem {
        width: 80%;
        margin-left: 0px;
    }

    .mapa iframe {
        width: 100%;
        height: auto;
    }

}